.headline-projects {
    max-width: 1400px;
    margin-inline: auto;
    margin-bottom: 50px;
}

.project-container {
    max-width: 1400px;
    margin-inline: auto;
    margin-bottom: 50px;
}

.gif-container {
    display: flex;
    margin-bottom: 50px;
}

.gif-image {
    border-radius: 5px;
    width: 50%;
    transform: scaleX(-1);
}

.gif-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    display: flex;
}

.image-description {
    width: 50%;
    margin-right: 50px;
}

@media screen and (max-width: 800px) {
    .headline-projects {
        margin-inline: 20px;
    }
    .gif-container, .image-container {
        flex-direction: column;
    }
    .gif-image {
        width: 100%;
        border-radius: 0;
    }
    .image-description {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        padding-inline: 20px;
    }
}