.banana-hero, .banana-container {
    max-width: 1400px;
    margin-inline: auto;
}


.banana-container {
    position: relative;
    z-index: 20;
}

.banana-hero {
    position: relative;
    height: calc(100vh - 66px);
}

.banana-header {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.drama {
    text-align: end;
    right: 0;
}

.banana-gif {
    position: absolute;
    top: 0;
    right: 0;
}

.banana-peek {
    max-width: 500px;
    position: absolute;
    bottom: 0;
}

.banana-gif {
    width: 40%;
    transform: scaleX(-1);
}


@media screen and (max-width: 768px) {
    .banana-container {
        margin-bottom: 100px;
    }

    .banana-hero {
        margin-inline: 20px;
    }

    .banana-gif {
        width: 100%;
        border-radius: 0;
        margin-bottom: 20px;
    }
}