// .banana-hero-container {
//     position: relative;
//     margin-top: 66px;
// }

// .banana-hero {
//     max-width: 1440px;
//     margin-inline: auto;
//     display: flex;
//     flex-direction: column;
// }

// .banana-hero-header {
//     position: absolute;
//     width: 100%;
//     max-width: 1440px;
//     top: 20%;
//     z-index: 10;
// }

// .banana-hero-header h1:last-child {
//     text-align: end;
//     margin-top: 100px;
// }

// .banana-hero-cow {
//     transform: scaleX(-1);
//     width: 35%;
//     margin-bottom: 100px;
//     align-self: flex-end;
// }

// .banana-hero-tiger {
//     max-width: 500px;
//     margin-left: 20px;
// }


// .banana-container {
//     position: relative;
// }

// .banana-description {
//     width: 100%;
//     text-align: center;
//     background-color: #c8b6ff;
//     padding-block: 50px;
//     padding-inline: 20px;
// }

// .banana-turn {
//     margin-inline: auto;
//     width: 100%;
//     max-width: 1440px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     margin-inline: auto;
// }

// .banana-turn:last-child {
//     margin-bottom: 100px;
// }

// .banana-turn-header {
//     align-self: center;
//     margin-top: 100px;
//     padding-inline: 10px;
// }

// .banana-turn img {
//     margin-top: 100px;
//     max-width: 100%;
//     max-height: 700px;
//     object-fit: cover;
//     padding-inline: 80px;
// }


// @media (max-width: 768px) {
//     .banana-hero-header {
//         padding-inline: 15px;
//     }
    
//     .banana-hero-tiger {
//         max-width: 300px;
//         margin-inline: 15px;
//     }

//     .banana-hero-cow {
//         width: 50%;
//         margin-bottom: 20px;
//     }


//     .banana-container {
//         margin-bottom: 100px;
//     }
        
//     .banana-turn-header {
//         margin-top: 50px;
//     }

//     .banana-turn img{
//         margin-top: 50px;
//         padding-inline: 15px;
//     }
// }


// @media (max-width: 480px) {
//     .banana-hero-header {
//         padding-inline: 0;
//         text-align: center;
//         margin-top: 100px;
//         top: 10%;
//     }
    
//     .banana-hero-header h1:first-child {
//         margin-bottom: 0;
//         text-align: center;
//     }
    
//     .banana-hero-header h1:last-child {
//         text-align: center;
//     }

//     .banana-hero-cow {
//         width: 100%;
//     }

//     .banana-hero-tiger {
//         align-self: center;
//     }
// }


.banana-hero {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-top: 66px;
    display: flex;
    align-items: center;
}

.banana-text {
    padding-inline: 66px;
    padding-block: 40px;
    background-color: rgba(0,0,0,0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.banana-text h1 {
    margin-left: -10px;
    line-height: 8rem;
    margin-bottom: 15px;
}

.banana-text h3 {
    margin-bottom: 0;
    margin-top: 50px;
    font-weight: 400;
}

.banana-images {
    display: flex;
    max-width: 1440px;
    max-height: 100vh;
    justify-content: center;
    margin-inline: auto;
    padding-inline: 20px;
}

.banana-images img {
    max-width: 50%;
    max-height: 100%;
    object-fit: contain;
}

.banana-turn img {
    margin-top: 100px;
    max-width: 100%;
    max-height: 700px;
    object-fit: cover;
    padding-inline: 80px;
}

.banana-turn {
    margin-inline: auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
}

.banana-turn:last-child {
    margin-bottom: 100px;
}

.vid-container {
    max-width: 1440px;
    margin-inline: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    padding-inline: 30px;
}

.banana-video {
    border-radius: 10px;
    width: 100%;
}

@media (max-width: 1024px) {
    .banana-text {
        padding-inline: 20px;
        border-radius: 0;
        width: 100%;
    }
    .banana-text h1 {
        line-height: 10rem;
    }
    .vid-container {
        padding-inline: 0;
    }
    .banana-video {
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    .banana-hero {
        background-position: 76% center;
        align-items: end;
    }
    .banana-text {
        padding-inline: 20px;
        border-radius: 0;
        width: 100%;
    }
    .banana-text h1 {
        margin-left: -5px;
        line-height: 6rem;
    }
    .banana-turn img{
        margin-top: 50px;
        padding-inline: 15px;
    }
}