.banana-headline, .banana-container {
    max-width: 1400px;
    margin-inline: auto;
    margin-bottom: 50px;
}

.banana-gif-container {
    display: flex;
    margin-bottom: 50px;
}

.banana-gif {
    width: 50%;
    border-radius: 5px;
    transform: scaleX(-1);
}

.banana-gif-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banana-image-container {
    display: flex;
}

.banana-image-description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 50px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .banana-headline {
        margin-inline: 20px;
    }

    .banana-gif-container, .banana-image-container {
        flex-direction: column;
    }

    .banana-gif {
        width: 100%;
        border-radius: 0;
    }

    .banana-image-description {
        justify-content: center;
        width: 100%;
        padding-inline: 20px;
        margin-bottom: 20px;
    }
}