.banana-hero-container {
    position: relative;
    margin-top: 66px;
}

.banana-hero {
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

.banana-hero-header {
    position: absolute;
    width: 100%;
    max-width: 1440px;
    top: 20%;
    z-index: 10;
}

.banana-hero-header h1:last-child {
    text-align: end;
    margin-top: 100px;
}

.banana-hero-cow {
    transform: scaleX(-1);
    width: 35%;
    margin-bottom: 100px;
    align-self: flex-end;
}

.banana-hero-tiger {
    max-width: 500px;
    margin-left: 20px;
}


.banana-container {
    position: relative;
}

.banana-description {
    width: 100%;
    text-align: center;
    background-color: #c8b6ff;
    padding-block: 50px;
    padding-inline: 20px;
}

.banana-turn {
    margin-inline: auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
}

.banana-turn:last-child {
    margin-bottom: 100px;
}

.banana-turn-header {
    align-self: center;
    margin-top: 100px;
    padding-inline: 10px;
}

.banana-turn img {
    margin-top: 100px;
    max-width: 100%;
    max-height: 700px;
    object-fit: cover;
    padding-inline: 80px;
}


@media (max-width: 768px) {
    .banana-hero-header {
        padding-inline: 15px;
    }
    
    .banana-hero-tiger {
        max-width: 300px;
        margin-inline: 15px;
    }

    .banana-hero-cow {
        width: 50%;
        margin-bottom: 20px;
    }


    .banana-container {
        margin-bottom: 100px;
    }
        
    .banana-turn-header {
        margin-top: 50px;
    }

    .banana-turn img{
        margin-top: 50px;
        padding-inline: 15px;
    }
}


@media (max-width: 480px) {
    .banana-hero-header {
        padding-inline: 0;
        text-align: center;
        margin-top: 100px;
        top: 10%;
    }
    
    .banana-hero-header h1:first-child {
        margin-bottom: 0;
        text-align: center;
    }
    
    .banana-hero-header h1:last-child {
        text-align: center;
    }

    .banana-hero-cow {
        width: 100%;
    }

    .banana-hero-tiger {
        align-self: center;
    }
}
