.banana-hero {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-top: 66px;
    display: flex;
    align-items: center;
}

.banana-text {
    padding-inline: 66px;
    padding-block: 40px;
    background-color: rgba(0,0,0,0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.banana-text h1 {
    margin-left: -10px;
    line-height: 8rem;
    margin-bottom: 15px;
}

.banana-text h3 {
    margin-bottom: 0;
    margin-top: 50px;
    font-weight: 400;
}

.banana-images {
    display: flex;
    max-width: 1440px;
    max-height: 100vh;
    justify-content: center;
    margin-inline: auto;
    padding-inline: 20px;
}

.banana-images img {
    max-width: 50%;
    max-height: 100%;
    object-fit: contain;
}

.vid-container {
    max-width: 1440px;
    margin-inline: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    padding-inline: 30px;
}

.banana-video {
    border-radius: 10px;
    width: 100%;
}

@media (max-width: 1024px) {
    .banana-text {
        padding-inline: 20px;
        border-radius: 0;
        width: 100%;
    }
    .banana-text h1 {
        line-height: 10rem;
    }
    .vid-container {
        padding-inline: 0;
    }
    .banana-video {
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    .banana-hero {
        background-position: 76% center;
        align-items: end;
    }
    .banana-text {
        padding-inline: 20px;
        border-radius: 0;
        width: 100%;
    }
    .banana-text h1 {
        margin-left: -5px;
        line-height: 6rem;
    }
}