.car-image {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.car-text {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.car-text span {
    display: inline-block;
    background: linear-gradient(rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0.8));
    background-clip: text;
    color: transparent;
}


@media (max-width: 1024px) {
    .car-image:first-of-type {
        padding-top: 66px;
        background-color: #000;
    }
}