.display-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 24px;
	background-color: rgba(25,25,32,.8);
	backdrop-filter: blur(4px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.display-img {
	display: block;
	max-height: 100%;
	max-width: 85%;
	box-shadow: rgb(0 0 0 / 30%) 0px 40px 58px -16px, rgb(0 0 0 / 22%) 0px 30px 22px -10px;
}

@media (max-width: 761px) {
	.display-img {
		max-width: 100%;
	}
}