.display-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 64px;
	background-color: rgba(25,25,46,.8);
	backdrop-filter: blur(4px);
	display: flex;
	align-items: center;
	z-index: 10;
}

.display-img {
	display: block;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	background-size: cover;
	background-position: center;
}
