.gallery-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(3,minmax(0,1fr));
	grid-gap: 20px;
	width: 100%;
	max-width: 1366px;
	margin: 120px 22px;
}

.grid-placeholder {
	display: block;
	height: 269px;
	border-radius: 4px;
	background-color: rgba(59, 59, 59, 1);
	animation: shine 2s ease-in-out infinite;
}

.grid-img {
	display: block;
	width: 100%;
	height: 269px;
	border-radius: 4px;
	object-position: center;
	object-fit: cover;
}

.grid-img:hover {
	transform: scale(1.01);
	box-shadow: rgb(0 0 0 / 30%) 0px 40px 58px -16px, rgb(0 0 0 / 22%) 0px 30px 22px -10px;
}

@media (max-width: 992px) {
	.gallery-grid {
		grid-template-columns: repeat(2,minmax(0,1fr));
	}
}

@media (max-width: 768px) {
	.grid-img, .grid-placeholder {
		height: 169px;
	}
}

@media (max-width: 576px) {
	.gallery-grid {
		grid-template-columns: repeat(1,minmax(0,1fr));
	}
}


@keyframes shine{
	10% {
	  opacity: 1;
	  top: -30%;
	  left: -30%;
	  transition-property: left, top, opacity;
	  transition-duration: 0.7s, 0.7s, 0.15s;
	  transition-timing-function: ease;
	}
	50% {
	  opacity: .3;
	  top: -30%;
	  left: -30%;
	  transition-property: left, top, opacity;
	}
	100% {
		opacity: 1;
		top: -30%;
		left: -30%;
		transition-property: left, top, opacity;
		transition-duration: 0.7s, 0.7s, 0.15s;
		transition-timing-function: ease;
	  }
  }
