.gallery-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.gallery-grid {
	margin: 120px 48px;
	max-width: 1366px;
	display: grid;
	align-items: start;
	columns: 3;
	grid-column-gap: 24px;
	grid-template-columns: repeat(auto-fill, minmax(330px ,1fr));
}

.gallery-flex {
	width: 100%;
	max-width: 1366px;
	margin: 120px 32px;
	display: none;
	flex-wrap: wrap;
}

.gallery-column {
	display: grid;
    grid-template-columns: minmax(0,1fr);
    row-gap: 24px;
}

.flex-img {
	display: block;
	width: 100%;
	height: auto;
	margin: 20px 0;
	border-radius: 4px;
}

.gallery-img {
	cursor: pointer;
	width: 100%;
	border-radius: 4px;
	transition: all .2s;
}

.gallery-img:hover {
	transform: scale(1.01);
	box-shadow: rgb(0 0 0 / 30%) 0px 40px 58px -16px, rgb(0 0 0 / 22%) 0px 30px 22px -10px;
}

@media (max-width: 761px) {
	.gallery-grid {
		display: none;
	}
	.gallery-flex {
		display: flex;
	}
}
