.header {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 20px;
	z-index: 10;
	background-color: aliceblue;
}

.header-items {
	margin-inline: auto;
	padding: 20px 0;
	width: 100%;
	max-width: 1400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pages, .info {
	display: flex;
}

.dropdown-items {
	position: absolute;
	display: none;
	background: aliceblue;
	border-radius: 5px;
	transform: translateX(-20px);
}

.dropdown-items a {
	display: block;
	padding: 5px 20px;
}

.header-item {
	margin-inline: 10px;
}

.header-icon {
	display: block;
	padding: 0;
	width: 36px;
	height: 36px;
}

.insta-icon {
	width: 26px;
	height: 26px;
}

.dropdown:hover .dropdown-items{
	display: block;
}

.header-burger {
	display: none;
	z-index: 20;
}

.item-phone {
	display: none;
}

@media screen and (max-width: 800px) {
	.item-desktop {
		display: none;
	}
	.item-phone {
		margin-left: 20px;
		display: block;
	}
	.header {
		padding-inline: 0;
		display: flex;
		justify-content: space-between;
	}
	.header-burger {
		display: block;
		margin-right: 20px;
	}
	.pages {
		flex-direction: column;
		margin-top: 50px;
	}
	.header-items {
		display: none;
		position: absolute;
		top: 0;
		background-color: aliceblue;
		height: 100vh;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
	}
	.dropdown-items {
		display: block;
		margin-left: 20px;
		transform: translateX(0);
	}
	.dropdown-items a {
		padding: 5px 0;
	}
	.hidden-menu {
		display: flex;
	}
}