.header {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 20px;
	z-index: 10;
	// background: linear-gradient(180deg, rgba(240,248,255,.7) 0%, rgba(255,255,255,0) 100%);
	background-color: aliceblue;
}

.header-items {
	margin-inline: auto;
	padding: 20px;
	width: 100%;
	max-width: 1400px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-icon {
	display: block;
	padding: 0;
	width: 36px;
	height: 36px;
}

.insta-icon {
	width: 26px;
	height: 26px;
}