
.header {
	position: fixed;
	width: 100%;
	color: #eee;
	display: flex;
	justify-content: center;
	padding: 20px;
	z-index: 10;
}

.header-items {
	padding: 20px;
	width: 100%;
	max-width: 1406px;
	border-radius: 10px;
	background: rgba(29, 29, 29, 0.4);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header-item {
	padding: 5px;
}

.header-item:hover {
	cursor: pointer;
}

.home-icon {
	display: block;
	padding: 0;
	width: 36px;
	height: 36px;
	border-radius: 4px;
}