.gallery-container {
  width: 100%;
}

.image-row {
  display: flex;
}

.gallery-image {
  display: block;
  object-fit: cover;
}

.text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}