.image-row {
  display: flex;
}

.gallery-image {
  cursor: pointer;
  transition: all .2s;
}

.gallery-image:hover {
  scale: 1.05;
}

.text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .gallery-image:hover {
    scale: none;
  }
}