.illustrations-container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.illustrations-carousel {
    max-width: 100vw;
}

.carousel-items {
    display: flex;
    transition: ease-in-out .5s;
}

.image {
    flex: 1 0;
    height: 640px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.carousel-controls {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.illustration-btn {
    z-index: 10;
    background-color: #9ae2f8;
    border-radius: 5px;
    border: none;
    margin-inline: 20px;
    padding: 10px;
    cursor: pointer;
}

.illustration-svg {
    display: block;
    width: 26px;
    height: 26px;
    filter: invert(100%);
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .illustrations-container {
        position: relative;
    }

    .carousel-items {
        flex-direction: column;
        transform: translateX(0) !important;
    }

    .carousel-controls {
        display: none;
    }
    
    .image {
        pointer-events: none;
        margin-inline: 0;
        border-radius: 0;
    }
}