.illustrations-container {
    overflow: hidden;
}

.illustrations-items {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    transition: ease-in-out .5s;
}

.item {
    flex: 1 0 800px;
    outline: 1px solid red;
    height: 640px;
    margin: 20px;
}

.illustration-btn {
    z-index: 10;
    position: fixed;
    left: 50px;
}