.main-image {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main-text span {
    display: inline-block;
    background: linear-gradient(rgb(255, 255, 255, 0.05), rgb(255, 255, 255, 0.85));
    background-clip: text;
    color: transparent;
}

@media (max-width: 768px) {
    .main-image {
        background-position: 20% center;
    }
}