@import './general.scss';
@import './bananaDrama.scss';
@import './display.scss';
@import './header.scss';
@import './home.scss';
@import './index.scss';
@import './car-project.scss';
@import './neofyInfo.scss';
