.headline-projects {
    max-width: 1400px;
    margin-inline: auto;
    margin-bottom: 50px;
}

.project-container {
    max-width: 1400px;
    margin-inline: auto;
}

.gif-container {
    display: flex;
    margin-bottom: 50px;
}

.gif-image {
    border-radius: 5px;
    width: 50%;
    transform: scaleX(-1);
}

.gif-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    display: flex;
}

.image-description {
    width: 50%;
    margin-right: 50px;
}