* {
  box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Futura", Helvetica, Arial;
  font-size: 20px;
  margin: 0;
  background: linear-gradient(135deg, #f7c7ff 0%, #c7fffe 100%);
  overflow: overlay;
}

h1, p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 15px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: aliceblue;
}

::-webkit-scrollbar-thumb {
  background-color: #dce5ee;
  border-radius: 100px;
  border: 3.5px solid #f0f8ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #dce5ee;
}

.noscroll {
  overflow: hidden;
}

.banana-headline, .banana-container {
  max-width: 1400px;
  margin-inline: auto;
  margin-bottom: 50px;
}

.banana-gif-container {
  display: flex;
  margin-bottom: 50px;
}

.banana-gif {
  width: 50%;
  border-radius: 10px;
  transform: scaleX(-1);
}

.banana-gif-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.banana-image-container {
  display: flex;
}

.banana-image-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-right: 50px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .banana-container {
    margin-bottom: 100px;
  }

  .banana-headline {
    margin-inline: 20px;
  }

  .banana-gif-container, .banana-image-container {
    flex-direction: column;
  }

  .banana-gif-container {
    margin-bottom: 0;
  }

  .banana-gif {
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
  }

  .banana-image-description {
    justify-content: center;
    width: 100%;
    padding-inline: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.personal-container {
  margin-top: 20px;
  display: block;
  position: relative;
  max-width: 1400px;
  margin-inline: auto;
  columns: 2;
  column-gap: 20px;
  padding-inline: 20px;
}

.personal-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.personal-img:hover {
  scale: 1.01;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 40px 58px -16px, rgba(0, 0, 0, 0.22) 0px 30px 22px -10px;
}

@media (max-width: 768px) {
  .personal-container {
    columns: 1;
    padding-inline: 0;
  }

  .personal-img {
    border-radius: 0;
  }

  .personal-img:hover {
    scale: 1;
    box-shadow: none;
  }
}
.display-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.display-backdrop {
  display: flex;
  align-items: center;
  height: 100%;
  will-change: transform;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.display-img {
  margin: 0 10px;
  flex-shrink: 0;
  transform: scale(0.9);
  transition: all 0.3s ease;
  cursor: pointer;
  max-height: calc(100% - 100px);
  max-width: calc(100% - 100px);
  border-radius: 10px;
  z-index: 20;
}

.carousel-item.center {
  opacity: 1;
  transform: scale(1.1);
  cursor: default;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 10;
  backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(247, 199, 255, 0.6) 0%, rgba(199, 255, 254, 0.6) 100%);
}

.mobile-nav {
  display: none;
  margin-inline: 20px;
  z-index: 20;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
}

.header-svg {
  display: block;
  width: 26px;
  height: 26px;
}

.pages, .info {
  display: flex;
}

.page-link, .logo-desktop {
  margin-inline: 10px;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding-inline: 0;
  }

  .nav {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: absolute;
    top: 0;
    height: 100vh;
    padding-left: 10px;
  }

  .mobile-nav {
    display: block;
  }

  .hidden-nav {
    display: flex;
    backdrop-filter: blur(10px);
    background: linear-gradient(135deg, #f7c7ff 0%, #c7fffe 100%);
  }

  .pages {
    flex-direction: column;
    margin-top: 50px;
  }

  .logo-desktop {
    display: none;
  }
}
.hero-vid {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.illustrations-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.illustrations-carousel {
  max-width: 100vw;
}

.carousel-items {
  display: flex;
  transition: ease-in-out 0.5s;
}

.image {
  flex: 1 0;
  height: 640px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-controls {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.illustration-btn {
  z-index: 10;
  background-color: #9ae2f8;
  border-radius: 5px;
  border: none;
  margin-inline: 20px;
  padding: 10px;
  cursor: pointer;
}

.illustration-svg {
  display: block;
  width: 26px;
  height: 26px;
  filter: invert(100%);
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .illustrations-container {
    position: relative;
  }

  .carousel-items {
    flex-direction: column;
    transform: translateX(0) !important;
  }

  .carousel-controls {
    display: none;
  }

  .image {
    pointer-events: none;
    margin-inline: 0;
    border-radius: 0;
    height: auto;
  }
}
.info-text {
  max-width: 700px;
  margin-inline: auto;
  min-height: calc(100vh - 66px);
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .info-text {
    margin-inline: 20px;
  }
}
.slider-container {
  display: grid;
  position: relative;
  margin-inline: auto;
  --position: 50%;
}

.slider-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.slider {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: grab;
}

.slider-button {
  position: absolute;
  background-color: #9ae2f8;
  border-radius: 100%;
  padding: 10px;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-svg {
  display: block;
  width: 26px;
  height: 26px;
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .slider-image {
    border-radius: 0;
  }
}

/*# sourceMappingURL=main.css.map */
